In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

In [2]:
df = pd.read_excel(r'C:\Users\GabrielMedina\Desktop\Gitizin\carrinho_abandonado_.xlsx')
display(df)

,Unnamed: 0,Unnamed: 0.1,status,channel,isSubscription,hubServices,_id,property,partner,checkIn,checkOut,guests,user,cost,aliasId,staysId,statuses,createdAt,updatedAt,coupon
0,0,0,BOOKED,SITE,True,[],613c425c3bb0970018fe5e28,"{'_id': '60184c355926f200120943a0', 'aliasId':...","{'integrationType': 'STAYS', '_id': '613c425c3...","{'_id': '613c425c3bb0970018fe5e2b', 'date': '2...","{'_id': '613c425c3bb0970018fe5e2c', 'date': '2...","{'children': 0, '_id': '613c425c3bb0970018fe5e...","{'_id': '60e29fd66f88030011d43afa', 'staysId':...","{'_id': '613c425c3bb0970018fe5e2e', 'fees': [{...",WO60G,613c425b7e3cb113b0501e66,"[{'name': 'BOOKED', 'createdAt': '2021-09-11T0...",2021-09-11T05:45:00.318Z,2021-09-11T05:47:23.534Z,NaN
1,1,1,EXPIRED,SITE,True,[],613c392b3bb0970018fe5dc0,"{'_id': '612e760822292e00183783b7', 'aliasId':...","{'integrationType': 'STAYS', '_id': '613c392b3...","{'_id': '613c392b3bb0970018fe5dc4', 'date': '2...","{'_id': '613c392b3bb0970018fe5dc5', 'date': '2...","{'children': 0, '_id': '613c392b3bb0970018fe5d...","{'_id': '60e29fd66f88030011d43afa', 'staysId':...","{'_id': '613c392b3bb0970018fe5dc7', 'fees': [{...",WO59G,613c392a04b00a7460d739a8,"[{'name': 'EXPIRED', 'createdAt': '2021-09-11T...",2021-09-11T05:05:47.239Z,2021-09-11T05:11:03.201Z,"{'_id': '613c392b3bb0970018fe5dc3', 'kind': 'p..."
2,2,2,EXPIRED,APP,False,[],613c38e63bb0970018fe5da0,"{'_id': '60184c165926f20012084419', 'aliasId':...","{'integrationType': 'STAYS', '_id': '613c38e63...","{'_id': '613c38e63bb0970018fe5da3', 'date': '2...","{'_id': '613c38e63bb0970018fe5da4', 'date': '2...","{'children': 0, '_id': '613c38e63bb0970018fe5d...","{'_id': '6104a8a66063550018c19e15', 'staysId':...","{'_id': '613c38e63bb0970018fe5da6', 'fees': [{...",WQ50G,613c38e5f02666a9301cee49,"[{'name': 'EXPIRED', 'createdAt': '2021-09-11T...",2021-09-11T05:04:38.217Z,2021-09-11T05:10:08.161Z,NaN
3,3,3,EXPIRED,SITE,True,[],613c2c6b3bb0970018fe4cc2,"{'_id': '60e7706840c84200118c302d', 'aliasId':...","{'integrationType': 'HOUSI', '_id': '613c2c6b3...","{'_id': '613c2c6b3bb0970018fe4cc5', 'date': '2...","{'_id': '613c2c6b3bb0970018fe4cc6', 'date': '2...","{'children': 0, '_id': '613c2c6b3bb0970018fe4c...","{'_id': '60e744236f88030011d44c67', 'staysId':...","{'_id': '613c2c6b3bb0970018fe4cc8', 'fees': [{...",TE8D4P,NaN,"[{'name': 'EXPIRED', 'createdAt': '2021-09-11T...",2021-09-11T04:11:23.608Z,2021-09-11T04:17:07.480Z,NaN
4,4,4,EXPIRED,SITE,True,[],613c27c13bb0970018fe4c6b,"{'_id': '60184c3f5926f20012096ff5', 'aliasId':...","{'integrationType': 'STAYS', '_id': '613c27c13...","{'_id': '613c27c13bb0970018fe4c6e', 'date': '2...","{'_id': '613c27c13bb0970018fe4c6f', 'date': '2...","{'children': 0, '_id': '613c27c13bb0970018fe4c...","{'_id': '612e6a3c6063550018c2118c', 'staysId':...","{'_id': '613c27c13bb0970018fe4c71', 'fees': [{...",YY16G,613c27c1af7781c693f73a7c,"[{'name': 'EXPIRED', 'createdAt': '2021-09-11T...",2021-09-11T03:51:29.732Z,2021-09-11T03:57:12.673Z,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,95,EXPIRED,APP,True,[],613acaf7ea924f00122dc1a2,"{'_id': '60d6d23d811ae30018870b8d', 'aliasId':...","{'integrationType': 'STAYS', '_id': '613acaf7e...","{'_id': '613acaf7ea924f00122dc1a5', 'date': '2...","{'_id': '613acaf7ea924f00122dc1a6', 'date': '2...","{'children': 0, '_id': '613acaf7ea924f00122dc1...","{'_id': '5f637012aad56f0018b52bb4', 'staysId':...","{'_id': '613acaf7ea924f00122dc1a8', 'fees': [{...",WR85G,613acaf7a13dba4685dab548,"[{'name': 'EXPIRED', 'createdAt': '2021-09-10T...",2021-09-10T03:03:19.636Z,2021-09-10T03:09:07.044Z,NaN
96,96,96,EXPIRED,SITE,True,[],613ac813ea924f00122dc13a,"{'_id': '60184c3d5926f20012095d54', 'aliasId':...","{'integrationType': 'STAYS', '_id': '613ac813e...","{'_id': '613ac813ea924f00122dc13d', 'date': '2...","{'_id': '613ac813ea924f00122dc13e', 'date': '2...","{'children': 0, '_id': '613ac813ea924f00122dc1...","{'_id': '613a6c1f6063550018c23d5f', 'staysId':...","{'_id': '613ac813ea924f00122dc140', 'fees': [{...",XD75G,613ac813258ec19d3c1386dd,"[{'name': 'EXPIRED', 'createdAt': '2021-09-10T...",2021-09-10T02:50:59.719Z,2021-09-10T02:56:08.679Z,NaN
97,97,97,WAITING_PAYMENT,SITE,False,[],613ac195ea924f00122dc021,"{'_id': '60184c3d5926f20012095f39', 'aliasId':...","{'integrationType': 'STAYS', '_id': '613ac195e...","{'_id': '613ac195ea924f00122dc024', 'date': '2...","{'_id': '613ac195ea924f00122dc025', 'date': '2...","{'children': 0, '_id': '613ac195ea924f00122dc0...","{'_id': '5fe6539f3dac140011abc254', 'staysId':...","{'_id': '613ac195ea924f00122dc027', 'fees': [{...",WI112G,613ac195a13dba5c9edab499,"[{'name': 'WAITING_PAYMENT', 'createdAt': '202...",2021-09-10T02:23:17.952Z,2021-09-10T02:23:43.632Z,NaN
98,98,98,BOOKED,APP,False,[],613abe18ea924f00122dbda5,"{'_id': '60184c135926f20012082d1a', 'aliasId':...","{'integrationType': 'STAYS', '_id': '613abe18e...","{'_id': '613abe18ea924f00122dbda9', 'date': '2...","{'_id': '613abe18ea924f00122dbdaa', 'date': '2...","{'children': 0, '_id': '613abe18ea924f00122dbd...","{'_id': '6131edc26063550018c21e25', 'staysId':...","{'_id': '613abe18ea924f00122dbdac', 'fees': [{...",XD74G,613abe17a13dba8835dab405,"[{'name': 'BOOKED', 'createdAt': '2021-09-10T0...",2021-09-10T02:08:24.439Z,2021-09-10T02:08:32.241Z,"{'_id': '613abe18ea924f00122dbda8', 'kind': 'p..."
99,99,99,EXPIRED,APP,False,[],613abc9bea924f00122dbd59,"{'_id': '60184c125926f20012082b54', 'aliasId':...","{'integrationType': 'STAYS', '_id': '613abc9be...","{'_id': '613abc9bea924f00122dbd5d', 'date': '2...","{'_id': '613abc9bea924f00122dbd5e', 'date': '2...","{'children': 0, '_id': '613abc9bea924f00122dbd...","{'_id': '6131edc26063550018c21e25', 'staysId':...","{'_id': '613abc9bea924f00122dbd60', 'fees': [{...",XD73G,613abc99258ec1c944138605,"[{'name': 'EXPIRED', 'createdAt': '2021-09-10T...",2021-09-10T02:02:03.060Z,2021-09-10T02:07:09.903Z,"{'_id': '613abc9bea924f00122dbd5c', 'kind': 'p..."

In [3]:
display(df[['statuses']])

                                             statuses
0   [{'name': 'BOOKED', 'createdAt': '2021-09-11T0...
1   [{'name': 'EXPIRED', 'createdAt': '2021-09-11T...
2   [{'name': 'EXPIRED', 'createdAt': '2021-09-11T...
3   [{'name': 'EXPIRED', 'createdAt': '2021-09-11T...
4   [{'name': 'EXPIRED', 'createdAt': '2021-09-11T...
..                                                ...
95  [{'name': 'EXPIRED', 'createdAt': '2021-09-10T...
96  [{'name': 'EXPIRED', 'createdAt': '2021-09-10T...
97  [{'name': 'WAITING_PAYMENT', 'createdAt': '202...
98  [{'name': 'BOOKED', 'createdAt': '2021-09-10T0...
99  [{'name': 'EXPIRED', 'createdAt': '2021-09-10T...

[100 rows x 1 columns]

In [4]:
def expand(df):
    df = df.str.split(',', expand=True)
    return df

In [5]:
df_status = expand(df['statuses'])
df_status

,0,1,2,3,4,5,6,7,8,9,...,95,96,97,98,99,100,101,102,103,104
0,[{'name': 'BOOKED','createdAt': '2021-09-11T05:47:23.534Z','_id': '613c42eb3bb0970018fe5ea3'},{'name': 'BOOKED','createdAt': '2021-09-11T05:47:23.523Z','_id': '613c42ebd9b5f60011b80400'},{'name': 'RESERVED','createdAt': '2021-09-10T21:17:51.625Z','_id': '613c425c3bb0970018fe5e3a'}],None,...,None,None,None,None,None,None,None,None,None,None
1,[{'name': 'EXPIRED','createdAt': '2021-09-11T05:11:03.201Z','_id': '613c3a67ea6de00011935126'},{'name': 'RESERVED','createdAt': '2021-09-10T21:17:51.625Z','_id': '613c392b3bb0970018fe5dd3'}],None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,[{'name': 'EXPIRED','createdAt': '2021-09-11T05:10:08.161Z','_id': '613c3a30ea6de0001193510a'},{'name': 'RESERVED','createdAt': '2021-09-10T21:17:51.625Z','_id': '613c38e63bb0970018fe5db2'}],None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,[{'name': 'EXPIRED','createdAt': '2021-09-11T04:17:07.480Z','_id': '613c2dc3ea6de000119350b8'},{'name': 'RESERVED','createdAt': '2021-09-10T21:17:51.625Z','_id': '613c2c6b3bb0970018fe4cd6'}],None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,[{'name': 'EXPIRED','createdAt': '2021-09-11T03:57:12.673Z','_id': '613c2918ea6de0001193509c'},{'name': 'RESERVED','createdAt': '2021-09-10T21:17:51.625Z','_id': '613c27c13bb0970018fe4c7d'}],None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,[{'name': 'EXPIRED','createdAt': '2021-09-10T03:09:07.044Z','_id': '613acc53ea6de0001193468a'},{'name': 'RESERVED','createdAt': '2021-08-25T15:28:06.068Z','_id': '613acaf7ea924f00122dc1b4'}],None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
96,[{'name': 'EXPIRED','createdAt': '2021-09-10T02:56:08.679Z','_id': '613ac948ea6de0001193466f'},{'name': 'RESERVED','createdAt': '2021-08-25T15:28:06.068Z','_id': '613ac813ea924f00122dc14c'}],None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
97,[{'name': 'WAITING_PAYMENT','createdAt': '2021-09-10T02:23:43.632Z','_id': '613ac1afd9b5f60011b80141'},{'name': 'RESERVED','createdAt': '2021-08-25T15:28:06.068Z','_id': '613ac195ea924f00122dc033'}],None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
98,[{'name': 'BOOKED','createdAt': '2021-09-10T02:08:32.241Z','_id': '613abe20ea924f00122dbdff'},{'name': 'BOOKED','createdAt': '2021-09-10T02:08:32.092Z','_id': '613abe20d9b5f60011b80125'},{'name': 'RESERVED','createdAt': '2021-08-25T15:28:06.068Z','_id': '613abe18ea924f00122dbdb8'}],None,...,None,None,None,None,None,None,None,None,None,None
99,[{'name': 'EXPIRED','createdAt': '2021-09-10T02:07:09.903Z','_id': '613abdcdea6de00011934653'},{'name': 'RESERVED','createdAt': '2021-08-25T15:28:06.068Z','_id': '613abc9bea924f00122dbd6c'}],None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [6]:
df_status.info(max_cols=105)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 105 columns):
 #    Column  Non-Null Count  Dtype
---   ------  --------------  -----
 0    0       100 non-null    object
 1    1       100 non-null    object
 2    2       100 non-null    object
 3    3       100 non-null    object
 4    4       100 non-null    object
 5    5       100 non-null    object
 6    6       24 non-null     object
 7    7       24 non-null     object
 8    8       24 non-null     object
 9    9       6 non-null      object
 10   10      6 non-null      object
 11   11      6 non-null      object
 12   12      1 non-null      object
 13   13      1 non-null      object
 14   14      1 non-null      object
 15   15      1 non-null      object
 16   16      1 non-null      object
 17   17      1 non-null      object
 18   18      1 non-null      object
 19   19      1 non-null      object
 20   20      1 non-null      object
 21   21      1 non-null      object
 22   22      1 non-null      object
 23   23      1 non-null      object
 24   24      1 non-null      object
 25   25      1 non-null      object
 26   26      1 non-null      object
 27   27      1 non-null      object
 28   28      1 non-null      object
 29   29      1 non-null      object
 30   30      1 non-null      object
 31   31      1 non-null      object
 32   32      1 non-null      object
 33   33      1 non-null      object
 34   34      1 non-null      object
 35   35      1 non-null      object
 36   36      1 non-null      object
 37   37      1 non-null      object
 38   38      1 non-null      object
 39   39      1 non-null      object
 40   40      1 non-null      object
 41   41      1 non-null      object
 42   42      1 non-null      object
 43   43      1 non-null      object
 44   44      1 non-null      object
 45   45      1 non-null      object
 46   46      1 non-null      object
 47   47      1 non-null      object
 48   48      1 non-null      object
 49   49      1 non-null      object
 50   50      1 non-null      object
 51   51      1 non-null      object
 52   52      1 non-null      object
 53   53      1 non-null      object
 54   54      1 non-null      object
 55   55      1 non-null      object
 56   56      1 non-null      object
 57   57      1 non-null      object
 58   58      1 non-null      object
 59   59      1 non-null      object
 60   60      1 non-null      object
 61   61      1 non-null      object
 62   62      1 non-null      object
 63   63      1 non-null      object
 64   64      1 non-null      object
 65   65      1 non-null      object
 66   66      1 non-null      object
 67   67      1 non-null      object
 68   68      1 non-null      object
 69   69      1 non-null      object
 70   70      1 non-null      object
 71   71      1 non-null      object
 72   72      1 non-null      object
 73   73      1 non-null      object
 74   74      1 non-null      object
 75   75      1 non-null      object
 76   76      1 non-null      object
 77   77      1 non-null      object
 78   78      1 non-null      object
 79   79      1 non-null      object
 80   80      1 non-null      object
 81   81      1 non-null      object
 82   82      1 non-null      object
 83   83      1 non-null      object
 84   84      1 non-null      object
 85   85      1 non-null      object
 86   86      1 non-null      object
 87   87      1 non-null      object
 88   88      1 non-null      object
 89   89      1 non-null      object
 90   90      1 non-null      object
 91   91      1 non-null      object
 92   92      1 non-null      object
 93   93      1 non-null      object
 94   94      1 non-null      object
 95   95      1 non-null      object
 96   96      1 non-null      object
 97   97      1 non-null      object
 98   98      1 non-null      object
 99   99      1 non-null      object
 100  100     1 non-null      object
 101  101     1 non-null      object
 102  102     1 non-null      object
 103  103     1 non-null      object
 104  104     1 non-null      object
dtypes: object(105)
memory usage: 82.2+ KB

In [7]:
df_status.columns = df_status.columns.map(str)
df_status

,0,1,2,3,4,5,6,7,8,9,...,95,96,97,98,99,100,101,102,103,104
0,[{'name': 'BOOKED','createdAt': '2021-09-11T05:47:23.534Z','_id': '613c42eb3bb0970018fe5ea3'},{'name': 'BOOKED','createdAt': '2021-09-11T05:47:23.523Z','_id': '613c42ebd9b5f60011b80400'},{'name': 'RESERVED','createdAt': '2021-09-10T21:17:51.625Z','_id': '613c425c3bb0970018fe5e3a'}],None,...,None,None,None,None,None,None,None,None,None,None
1,[{'name': 'EXPIRED','createdAt': '2021-09-11T05:11:03.201Z','_id': '613c3a67ea6de00011935126'},{'name': 'RESERVED','createdAt': '2021-09-10T21:17:51.625Z','_id': '613c392b3bb0970018fe5dd3'}],None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,[{'name': 'EXPIRED','createdAt': '2021-09-11T05:10:08.161Z','_id': '613c3a30ea6de0001193510a'},{'name': 'RESERVED','createdAt': '2021-09-10T21:17:51.625Z','_id': '613c38e63bb0970018fe5db2'}],None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,[{'name': 'EXPIRED','createdAt': '2021-09-11T04:17:07.480Z','_id': '613c2dc3ea6de000119350b8'},{'name': 'RESERVED','createdAt': '2021-09-10T21:17:51.625Z','_id': '613c2c6b3bb0970018fe4cd6'}],None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,[{'name': 'EXPIRED','createdAt': '2021-09-11T03:57:12.673Z','_id': '613c2918ea6de0001193509c'},{'name': 'RESERVED','createdAt': '2021-09-10T21:17:51.625Z','_id': '613c27c13bb0970018fe4c7d'}],None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,[{'name': 'EXPIRED','createdAt': '2021-09-10T03:09:07.044Z','_id': '613acc53ea6de0001193468a'},{'name': 'RESERVED','createdAt': '2021-08-25T15:28:06.068Z','_id': '613acaf7ea924f00122dc1b4'}],None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
96,[{'name': 'EXPIRED','createdAt': '2021-09-10T02:56:08.679Z','_id': '613ac948ea6de0001193466f'},{'name': 'RESERVED','createdAt': '2021-08-25T15:28:06.068Z','_id': '613ac813ea924f00122dc14c'}],None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
97,[{'name': 'WAITING_PAYMENT','createdAt': '2021-09-10T02:23:43.632Z','_id': '613ac1afd9b5f60011b80141'},{'name': 'RESERVED','createdAt': '2021-08-25T15:28:06.068Z','_id': '613ac195ea924f00122dc033'}],None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
98,[{'name': 'BOOKED','createdAt': '2021-09-10T02:08:32.241Z','_id': '613abe20ea924f00122dbdff'},{'name': 'BOOKED','createdAt': '2021-09-10T02:08:32.092Z','_id': '613abe20d9b5f60011b80125'},{'name': 'RESERVED','createdAt': '2021-08-25T15:28:06.068Z','_id': '613abe18ea924f00122dbdb8'}],None,...,None,None,None,None,None,None,None,None,None,None
99,[{'name': 'EXPIRED','createdAt': '2021-09-10T02:07:09.903Z','_id': '613abdcdea6de00011934653'},{'name': 'RESERVED','createdAt': '2021-08-25T15:28:06.068Z','_id': '613abc9bea924f00122dbd6c'}],None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [8]:
df_status = df_status[['0', '1', '2', '3', '4', '5']]
df_status

,0,1,2,3,4,5
0,[{'name': 'BOOKED','createdAt': '2021-09-11T05:47:23.534Z','_id': '613c42eb3bb0970018fe5ea3'},{'name': 'BOOKED','createdAt': '2021-09-11T05:47:23.523Z','_id': '613c42ebd9b5f60011b80400'}
1,[{'name': 'EXPIRED','createdAt': '2021-09-11T05:11:03.201Z','_id': '613c3a67ea6de00011935126'},{'name': 'RESERVED','createdAt': '2021-09-10T21:17:51.625Z','_id': '613c392b3bb0970018fe5dd3'}]
2,[{'name': 'EXPIRED','createdAt': '2021-09-11T05:10:08.161Z','_id': '613c3a30ea6de0001193510a'},{'name': 'RESERVED','createdAt': '2021-09-10T21:17:51.625Z','_id': '613c38e63bb0970018fe5db2'}]
3,[{'name': 'EXPIRED','createdAt': '2021-09-11T04:17:07.480Z','_id': '613c2dc3ea6de000119350b8'},{'name': 'RESERVED','createdAt': '2021-09-10T21:17:51.625Z','_id': '613c2c6b3bb0970018fe4cd6'}]
4,[{'name': 'EXPIRED','createdAt': '2021-09-11T03:57:12.673Z','_id': '613c2918ea6de0001193509c'},{'name': 'RESERVED','createdAt': '2021-09-10T21:17:51.625Z','_id': '613c27c13bb0970018fe4c7d'}]
...,...,...,...,...,...,...
95,[{'name': 'EXPIRED','createdAt': '2021-09-10T03:09:07.044Z','_id': '613acc53ea6de0001193468a'},{'name': 'RESERVED','createdAt': '2021-08-25T15:28:06.068Z','_id': '613acaf7ea924f00122dc1b4'}]
96,[{'name': 'EXPIRED','createdAt': '2021-09-10T02:56:08.679Z','_id': '613ac948ea6de0001193466f'},{'name': 'RESERVED','createdAt': '2021-08-25T15:28:06.068Z','_id': '613ac813ea924f00122dc14c'}]
97,[{'name': 'WAITING_PAYMENT','createdAt': '2021-09-10T02:23:43.632Z','_id': '613ac1afd9b5f60011b80141'},{'name': 'RESERVED','createdAt': '2021-08-25T15:28:06.068Z','_id': '613ac195ea924f00122dc033'}]
98,[{'name': 'BOOKED','createdAt': '2021-09-10T02:08:32.241Z','_id': '613abe20ea924f00122dbdff'},{'name': 'BOOKED','createdAt': '2021-09-10T02:08:32.092Z','_id': '613abe20d9b5f60011b80125'}
99,[{'name': 'EXPIRED','createdAt': '2021-09-10T02:07:09.903Z','_id': '613abdcdea6de00011934653'},{'name': 'RESERVED','createdAt': '2021-08-25T15:28:06.068Z','_id': '613abc9bea924f00122dbd6c'}]

In [9]:
def lmp_char(df):
    df=df.replace('{','',regex=True)
    df=df.replace('}','',regex=True)
    df=df.replace('\[','',regex=True)
    df=df.replace(']','',regex=True)
    df=df.replace("'",'',regex=True)
    return df

In [10]:
df_status = lmp_char(df_status)
df_status

,0,1,2,3,4,5
0,name: BOOKED,createdAt: 2021-09-11T05:47:23.534Z,_id: 613c42eb3bb0970018fe5ea3,name: BOOKED,createdAt: 2021-09-11T05:47:23.523Z,_id: 613c42ebd9b5f60011b80400
1,name: EXPIRED,createdAt: 2021-09-11T05:11:03.201Z,_id: 613c3a67ea6de00011935126,name: RESERVED,createdAt: 2021-09-10T21:17:51.625Z,_id: 613c392b3bb0970018fe5dd3
2,name: EXPIRED,createdAt: 2021-09-11T05:10:08.161Z,_id: 613c3a30ea6de0001193510a,name: RESERVED,createdAt: 2021-09-10T21:17:51.625Z,_id: 613c38e63bb0970018fe5db2
3,name: EXPIRED,createdAt: 2021-09-11T04:17:07.480Z,_id: 613c2dc3ea6de000119350b8,name: RESERVED,createdAt: 2021-09-10T21:17:51.625Z,_id: 613c2c6b3bb0970018fe4cd6
4,name: EXPIRED,createdAt: 2021-09-11T03:57:12.673Z,_id: 613c2918ea6de0001193509c,name: RESERVED,createdAt: 2021-09-10T21:17:51.625Z,_id: 613c27c13bb0970018fe4c7d
...,...,...,...,...,...,...
95,name: EXPIRED,createdAt: 2021-09-10T03:09:07.044Z,_id: 613acc53ea6de0001193468a,name: RESERVED,createdAt: 2021-08-25T15:28:06.068Z,_id: 613acaf7ea924f00122dc1b4
96,name: EXPIRED,createdAt: 2021-09-10T02:56:08.679Z,_id: 613ac948ea6de0001193466f,name: RESERVED,createdAt: 2021-08-25T15:28:06.068Z,_id: 613ac813ea924f00122dc14c
97,name: WAITING_PAYMENT,createdAt: 2021-09-10T02:23:43.632Z,_id: 613ac1afd9b5f60011b80141,name: RESERVED,createdAt: 2021-08-25T15:28:06.068Z,_id: 613ac195ea924f00122dc033
98,name: BOOKED,createdAt: 2021-09-10T02:08:32.241Z,_id: 613abe20ea924f00122dbdff,name: BOOKED,createdAt: 2021-09-10T02:08:32.092Z,_id: 613abe20d9b5f60011b80125
99,name: EXPIRED,createdAt: 2021-09-10T02:07:09.903Z,_id: 613abdcdea6de00011934653,name: RESERVED,createdAt: 2021-08-25T15:28:06.068Z,_id: 613abc9bea924f00122dbd6c

In [11]:
df_status['0'] = df_status['0'].str.replace('name: ', '')
df_status['1'] = df_status['1'].str.replace('createdAt: ', '')
df_status['2'] = df_status['2'].str.replace('_id: ', '')
df_status['3'] = df_status['3'].str.replace('name: ', '')
df_status['4'] = df_status['4'].str.replace('createdAt: ', '')
df_status['5'] = df_status['5'].str.replace('_id: ', '')


df_status = df_status.rename(columns={'0': 'status_1', '1': 'data_status_1', '2': 'status_1_id', '3': 'status_2', 
                                      '4': 'data_status_2', '5': 'status_2_id'})

display(df_status)

,status_1,data_status_1,status_1_id,status_2,data_status_2,status_2_id
0,BOOKED,2021-09-11T05:47:23.534Z,613c42eb3bb0970018fe5ea3,BOOKED,2021-09-11T05:47:23.523Z,613c42ebd9b5f60011b80400
1,EXPIRED,2021-09-11T05:11:03.201Z,613c3a67ea6de00011935126,RESERVED,2021-09-10T21:17:51.625Z,613c392b3bb0970018fe5dd3
2,EXPIRED,2021-09-11T05:10:08.161Z,613c3a30ea6de0001193510a,RESERVED,2021-09-10T21:17:51.625Z,613c38e63bb0970018fe5db2
3,EXPIRED,2021-09-11T04:17:07.480Z,613c2dc3ea6de000119350b8,RESERVED,2021-09-10T21:17:51.625Z,613c2c6b3bb0970018fe4cd6
4,EXPIRED,2021-09-11T03:57:12.673Z,613c2918ea6de0001193509c,RESERVED,2021-09-10T21:17:51.625Z,613c27c13bb0970018fe4c7d
...,...,...,...,...,...,...
95,EXPIRED,2021-09-10T03:09:07.044Z,613acc53ea6de0001193468a,RESERVED,2021-08-25T15:28:06.068Z,613acaf7ea924f00122dc1b4
96,EXPIRED,2021-09-10T02:56:08.679Z,613ac948ea6de0001193466f,RESERVED,2021-08-25T15:28:06.068Z,613ac813ea924f00122dc14c
97,WAITING_PAYMENT,2021-09-10T02:23:43.632Z,613ac1afd9b5f60011b80141,RESERVED,2021-08-25T15:28:06.068Z,613ac195ea924f00122dc033
98,BOOKED,2021-09-10T02:08:32.241Z,613abe20ea924f00122dbdff,BOOKED,2021-09-10T02:08:32.092Z,613abe20d9b5f60011b80125
99,EXPIRED,2021-09-10T02:07:09.903Z,613abdcdea6de00011934653,RESERVED,2021-08-25T15:28:06.068Z,613abc9bea924f00122dbd6c

In [12]:
def l_space(df):
    df = df.str.strip()
    return df

In [13]:
df_status['status_1'] = l_space(df_status['status_1'])
df_status['data_status_1'] = l_space(df_status['data_status_1'])
df_status['status_1_id'] = l_space(df_status['status_1_id'])
df_status['status_2'] = l_space(df_status['status_2'])
df_status['data_status_2'] = l_space(df_status['data_status_2'])
df_status['status_2_id'] = l_space(df_status['status_2_id'])

In [14]:
df_status.to_excel('tabela_status.xlsx')